.main {
   &__accessories {
      margin-bottom: 50px;
   }
}
.accessories {
   &__title {
      margin-bottom: 28px;
      @media screen and (min-width: 1378px) {
         margin-bottom: 31px;
      }
   }

   &__wrapper {
      position: relative;
      &:after {
         content: '';
         display: block;
         width: 30px;
         height: 100%;

         position: absolute;
         top: 0;
         right: 0;
         background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 88.37%);
         z-index: 2;
      }

      @media screen and (min-width: 789px) {
         &::after {
            display: none;
         }
      }
   }

   &-slider {
      &__wrapper {
         @media screen and (min-width: 789px) {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: -48px;
            margin-left: -10px;
            margin-right: -10px;
         }
      }

      &__slide {
         box-sizing: border-box;
         @media screen and (min-width: 789px) {
            margin-bottom: 48px;
            padding: 0 10px;
            flex: 1 1 auto;
            width: 33.33%;
         }
      }
   }

   &__slider-box {
      @media screen and (min-width: 789px) {
         margin-bottom: 51px;
      }
   }

   &__btn.btn {
      display: none;
      @media screen and (min-width: 789px) {
         display: flex;
         margin: 0 auto;
      }
   }
}

.product-card {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   &__preview {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
   }

   &__title {
      font-weight: 700;
      font-size: 18px;
      line-height: 23px;
      text-transform: uppercase;
      color: $title;
      margin-bottom: 8px;
   }

   p {
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 1.2;
      color: $secondary;
      margin-bottom: 15px;
   }

   &__price {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 17px;

      span {
         font-weight: 400;
         font-size: 16px;
         line-height: 19px;
         &:first-child {
            color: $secondary;
         }
         &:last-child {
            color: $title;
         }
      }
   }

   &__btn {
      border-radius: 5px;
      border: 1px solid $primary;
      margin: 0 auto;
      display: none;
      width: 100%;
   }

   @media screen and (min-width: 788px) {
      &__title {
         font-size: 25px;
         line-height: 30px;
         text-align: center;
         margin-bottom: 16px;
      }

      p {
         font-size: 12px;
         text-align: center;
      }

      &__price {
         justify-content: center;
         margin-bottom: 14px;
         span {
            display: block;
            font-size: 18px;
            line-height: 22px;
            &:first-child {
               display: none;
            }
         }
      }

      &__btn {
         border-radius: 0;
         border: 1px solid $secondary;
         background-color: #fff;
         color: $secondary;
         transition: all 0.2s linear;
         width: max-content;
         &:hover {
            background-color: $primary;
            border-color: $primary;
            color: #fff;
         }
      }
   }
}