.main {
   &__anim-baner {
      padding: 25px 0;
      @media screen and (min-width: 1378px)  {
         padding: 75px 0;
      }
   }
}

@keyframes first {
   0% {
      transform: scale(1);
   }
   25% {
      transform: scale(1.2);
   }
   50% {
      transform: scale(1.2);
   }
   75% {
      transform: scale(1.2);
   }
   100% {
      transform: scale(1.2);
   }
}
@keyframes second {
   0% {
      transform: scale(1);
   }
   25% {
      transform: scale(1.2);
   }
   50% {
      transform: scale(1.4);
   }
   75% {
      transform: scale(1.4);
   }
   100% {
      transform: scale(1.4);
   }
}

@keyframes third {
   0% {
      transform: scale(1);
   }
   25% {
      transform: scale(1.2);
   }
   50% {
      transform: scale(1.4);
   }
   75% {
      transform: scale(1.6);
   }
   100% {
      transform: scale(1.6);
   }
}

@keyframes fourth {
   0% {
      transform: scale(1);
   }
   25% {
      transform: scale(1.2);
   }
   50% {
      transform: scale(1.4);
   }
   75% {
      transform: scale(1.6);
   }
   100% {
      transform: scale(1.8);
   }
}

.anim-baner {
   text-align: center;
   &__box {
      position: relative;
   }

   &__preview {
      max-height: 500px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
         height: 100%;
      }
   }

   &__title {
      margin-bottom: 18px;
   }

   &__desc {
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      text-align: center;
      color: $title;
      @media screen and (min-width: 1378px) {
         font-size: 18px;
         line-height: 22px;
      }
   }

   &__round-box {
      position: absolute;
      width: 30px;
      height: 30px;
      border-radius: 100%;
      border: 3px solid $primary;
      &--first {
         left: 22%;
         top: 25%;
      }
      &--second {
         right: 20%;
         top: 41%;
      }

      @media screen and (min-width: 788px) {
         width: 50px;
         height: 50px;
      }
      @media screen and (min-width: 1378px) {
         width: 80px;
         height: 80px;

         &--first {
            left: 22%;
            top: 15%;
         }
         &--second {
            right: 20%;
            top: 36%;
         }
      }
   }

   &__round-item {
      position: absolute;
      top: -3px;
      left: -3px;
      width: 30px;
      height: 30px;
      display: block;
      background: radial-gradient(50% 50% at 50% 50%, rgba(0, 158, 255, 0) 73.44%, #00A0FF 100%);
      opacity: 0.3;
      border-radius: 100%;
      transform: translate(-50%, -50%);
      transition: all 0.5s;
      @media screen and (min-width: 788px) {
         width: 50px;
         height: 50px;
      }
      @media screen and (min-width: 1378px) {
         width: 80px;
         height: 80px;
      }
      &:nth-child(1) {
         animation: first 1.5s infinite linear;

      }
      &:nth-child(2) {
         animation: second 1.5s infinite linear;
      }
      &:nth-child(3) {
         animation: third 1.5s infinite linear;
      }
      &:nth-child(4) {
         animation: fourth 1.5s infinite linear;
      }
   }
}