.calc {
   display: flex;
   flex-direction: column;
   @media screen and (min-width: 768px) {
      flex-direction: row;
   }

   &__box {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      width: 100%;
      padding: 40px 20px;
      &--form {
         background-color: $light;
      }
      &--result {
         background-color: $secondary;
         justify-content: center;
         span {
            font-weight: 400;
            font-size: 19px;
            line-height: 22px;
            color: $light;
         }
      }
      @media screen and (min-width: 768px) {
         padding: 50px;
      }
   }

   &__text {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #848484;
      margin-bottom: 7px;
   }

   &__city {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: $title;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
   }

   &__city-coice {
      margin-bottom: 30px;
   }

   &__input {
      margin-bottom: 45px;
      @media screen and (min-width: 1366px) {
         display: flex;
         align-items: center;
      }
   }

   &__truck {
      margin-bottom: 20px;
   }

   &__question-icon {
      margin-left: 10px;
   }
}

.calc-choice {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   position: relative;

   &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #fff;
      padding: 22px;
      width: 100%;

      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #848484;
      cursor: pointer;

      transition: all 0.2s ease-in-out;

      .icon {
         width: 16px;
         height: 8px;
         fill: none;
         stroke: $secondary;
         transition: all 0.2s ease-in-out;
      }

      &--active {
         .icon {
            transform: rotate(180deg);
         }
      }
   }

   &__list {
      width: 100%;
      position: absolute;
      top: 63px;
      left: 0;
      max-height: 0;
      border: 1px solid #E5E5E5;
      z-index: 20;
      overflow: hidden;
      transition: all 0.2s linear;
      background-color: $light;
   }

   &__item {
      display: flex;
      align-items: center;
      transition: all 0.2s ease-in-out;
      &:hover {
         background-color: $primary;
         .choice-element {
            color: #fff;
         }
      }
   }
}

.choice-element {
   position: relative;
   width: 100%;
   font-size: 14px;
   line-height: 18px;
   font-weight: 400;
   color: $title;
   padding: 10px 10px 10px 38px;
   transition: all 0.2s ease-in-out;
   cursor: pointer;

   display: flex;
   align-items: center;

   &__checkbox {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 20px;
      height: 20px;

      position: absolute;
      top: 10px;
      left: 10px;
      border: 1px solid $dark;
      border-radius: 100%;

      background-color: #fff;
      transition: all 0.2s ease-in-out;

      &::after {
         content: '';
         display: block;
         opacity: 0;
   
         width: 14px;
         height: 14px;
         border-radius: 100%;
   
         position: absolute;
         top: 3;
         left: 3;
         background-color: $dark;
         transition: all 0.2s linear;
      }
   }

   &__input {
      width: 0;
      height: 0;
      appearance: none;
      position: absolute;
   }
}


.choice-element__input:checked~.choice-element__checkbox {
   &::after {
      opacity: 1;;
   }
}

.choice {
   &:hover {
      .choice__input:checked~.choice__checkbox {
         border-color: #fff;
      }
   }
}

.choice-weight {
   display: flex;
   flex-direction: column;
   &__field {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      &:last-child {
         margin: 0;
      }
      @media screen and (min-width: 1366px) {
         margin-bottom: 0;
         &:last-child {
            margin-left: auto;
         }
      }
   }

   &__input {
      width: 100%;
   }
}

.choice-truck {
   &__list {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: -10px;
      @media screen and (min-width: 1366px) {
         margin-bottom: 0;
         flex-wrap: nowrap;
      }
   }

   &__item {
      width: 50%;
      flex: 1 1 auto;
      margin-bottom: 10px;
      @media screen and (min-width: 1366px) {
         width: 25%;
         margin-bottom: 0;
      }
   }

   &__content {
      width: 100%;
      height: 170px;
      position: relative;
      padding-top: 30px;
   }

   &__preview {
      position: absolute;
      top: 30px;
      left: 0;
      width: 100%;
      height: calc(100% - 30px);
      background-color: $light;
      opacity: 0;
      img {
         height: 100%;
         object-fit: contain;
      }
      &--active {
         transition: all 0.2s linear;
         z-index: 10;
         opacity: 1;
      }
   }
}