.categories-slider-box {
  &__wrapper {
    position: relative;
  }

  &__section-title {
    margin-bottom: 8px;
  }

  &__arrow-link {
    margin-bottom: 36px;
  }

  .arrow-link {
    color: $primary;
    .icon {
      fill: $primary;
    }
  }
}

.categories-slider {
   &__slide {
      &:nth-child(2n) {
         .product-card {
            &:hover {
               background-color: $primary;
            }
         }
      }
   }

   &__btn {
      width: 44px;
      height: 44px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;

      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      z-index: 5;

      box-shadow: 0px 3px 10px #0000001C;
      transition: all 0.2s ease-in;

      .icon {
         width: 7px;
         height: 14px;
         fill: none;
         stroke: $text;
         transition: all 0.2s ease-in;
      }
      &--prev {
         left: -22px;
      }
      &--next {
         right: -22px;
         .icon {
            transform: rotate(180deg);
         }
      }

      &:hover {
         background-color: $primary;
         .icon {
            stroke: #fff;
         }
      }
   }
}