.desc-baner {
   min-height: 483px;
   max-height: 547px;
   background-color: #0E0E16;
   display: flex;
   align-items: end;
   position: relative;
   overflow: hidden;

   &__preview {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      &::after {
         content: '';
         display: block;

         width: 100%;
         height: 100%;

         position: absolute;
         bottom: 0;
         left: 0;
         z-index: 2;
         box-shadow: -1px -43px 20px -19px rgba(14, 14, 22, 1) inset;
      }
      img {
         display: block;
         width: 100%;
         object-fit: cover;
         position: relative;
         z-index: 0;
      }
      @media screen and (min-width: 788px) {
         height: 100%;
         width: 50%;
         display: flex;
         justify-content: end;
         &::after {
            box-shadow: 114px 0 66px -27px rgba(14, 14, 22, 1) inset;
         }
         img {
            width: auto;
            object-fit: cover;
            height: 100%;
            object-position: right;
         }
      }
   }

   &__content {
      margin-top: auto;
      background-color: #0E0E16;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 2;
      box-shadow: 0px -35px 28px 17px rgba(14, 14, 22, 1);
      width: 100%;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 40px;

      @media screen and (min-width: 788px) {
         margin-bottom: auto;
         position: relative;
         box-shadow: none;
         background-color: transparent;
         padding: 20px 0;
         height: 100%;
         display: flex;
         flex-direction: column;
         justify-content: center;
         max-width: 600px;
      }
   }

   &__title {
      margin-bottom: 20px;
   }

   .title {
      color: #fff;
      text-align: left;
   }

   &__text {
      p {
         color: #fff;
      }
   }

   @media screen and (min-width: 788px) {
      align-items: center;
   }

   &--light {
      background-color: transparent;
      display: flex;
      flex-direction: column;
      .desc-baner__preview {
         box-shadow: none;
         max-height: 400px;
         position: static;

         display: flex;
         align-items: end;
         &::after {
            display: none;
         }

         &--reversal {
            img {
               transform: scaleX(-1);
            }
         }

         &--left {
            order: 2;
            position: relative;
            &::after {
               display: block;
               box-shadow: 0px 53px 22px -29px rgba(255, 255, 255, 1) inset;
            }
         }
      }
      .desc-baner__content {
         box-shadow: none;
         position: static;
         background-color: transparent;
         padding: 0;
      }

      .title {
         color: $title;
      }
      .desc-baner__text {
         p {
            color: $title;
         }
      }

      @media screen and (min-width: 788px) {
         flex-direction: row;
         justify-content: space-between;
         .desc-baner__preview {
            width: 70%;
            position: absolute;
            left: 0;
            max-height: 100%;
            justify-content: start;

            img {
               object-fit: cover;
               object-position: center;
            }
            &--left {
               width: 50%;
               &::after {
                  display: block;
                  box-shadow: -53px 0px 27px -27px rgba(255, 255, 255, 1)
               }
               img {
                  object-position: left;
               }
            }
         }

         .desc-baner__content {
            margin-right: 0;
            margin-left: auto;
            max-width: 50%;
         }
      }
   }

   &--top {
      @media screen and (min-width: 788px) {
         align-items: flex-start;
      }
   }
}