.main {
   &__download {
      padding-top: 60px;
      padding-bottom: 28px;
      margin-bottom: 94px;

      @media screen and (min-width: 788px) {
         padding-top: 90px;
         padding-bottom: 90px;
      }
   }
}

.download {
   background-color: #F5F5F5;
   &__wrapper {
      border: 5px solid #009EFF;
      padding: 21px 15px;
      min-height: 428px;
      margin-top: auto;
      background-color: #fff;

      display: flex;
      flex-direction: column;

      @media screen and (min-width: 788px) {
         flex-direction: row;
         min-height: 317px;
      }
   }

   &__content {
      margin-top: auto;
      height: max-content;

      @media screen and (min-width: 788px) {
         margin-left: auto;
      }
   }

   &__title {
      margin-bottom: 24px;
      @media screen and (min-width: 788px) {
         margin-bottom: 17px;
         text-align: left;
      }
   }

   &__function {
      margin-bottom: 15px;
   }

   &__preview {
      position: relative;
      transform: scale(1.1);
      top: -30px;
      @media screen and (min-width: 788px) {
         transform: scale(1.7);
         top: 70px;
         left: -130px;
      }
      @media screen and (min-width: 1378px) {
         top: 85px;
         left: -165px;
      }
   }

   .download-function {
      display: flex;
      &__item {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         text-align: center;
         margin-bottom: 16px;
         flex: 1 1 auto;
         width: 33.33%;

         .icon {
            width: 30px;
            height: 30px;
            display: flex;
            flex: 0 0 30px;
            align-items: center;
            justify-content: center;

            fill: $title;
            margin-bottom: 10px;

            @media screen and (min-width: 788px) {
               margin-bottom: 0;
               margin-right: 10px;
            }
         }

         @media screen and (min-width: 788px) {
            flex-direction: row;
            margin-bottom: 0;
            margin-right: 14px;
            text-align: left;
         }
      }

      &__desc {
         font-weight: 400;
         font-size: 14px;
         line-height: 1.2;
         color: $title;
         margin-bottom: auto;

         @media screen and (min-width: 788px) {
            font-size: 14px;
         }
      }

      &__link {
         display: block;
         width: 100%;
         .icon {
            margin-left: 35px;
            display: none;

            width: 25px;
            height: 25px;
            fill: #fff;

            @media screen and (min-width: 788px) {
               display: block;
            }
         }

         .btn {
            width: 100%;
         }

         @media screen and (min-width: 788px) {
            width: max-content;
         }
      }

      @media screen and (min-width: 788px) {
         margin-right: 14px;
      }
   }
}