.footer {
   background-color: $bg-blue;
   padding-top: 36px;
   padding-bottom: 96px;
   &__nav {
      margin-top: -30px;
      margin-bottom: 45px;
   }
}

.footer-col {
   margin-top: 30px;
   &__header {
      display: flex;
      align-items: center;

      font-size: 18px;
      line-height: 20px;
      font-weight: 400;
      color: #fff;
      cursor: pointer;

      transition: all 0.3s ease-in-out;

      .icon {
         width: 12px;
         height: 6px;
         margin-left: 10px;
         fill: none;
         stroke: #fff;

         transition: all 0.3s ease-in-out;

         @media screen and (min-width: 768px) {
            display: none;
         }
      }

      &--active {
         margin-bottom: 22px;
         .icon {
            transform: rotate(180deg);
         }
      }

      @media screen and (min-width: 768px) {
         margin-bottom: 22px;
      }
   }
}

.footer-list {
   max-height: 0;
   overflow: hidden;
   transition: all 0.3s ease-in-out;
   &__item {
      margin-bottom: 14px;
      &:last-child {
         margin-bottom: 0;
      }
   }

   &__link {
      font-size: 16px;
      line-height: 22px;
      color: $second-text;
      &:hover {
         text-decoration: underline;
      }
   }

   @media screen and (min-width: 768px) {
      max-height: 100%;
   }
}

.footer-contact {
   &__list {
      margin-bottom: 25px;
   }

   &__item {
      display: flex;
      align-items: center;
      margin-bottom: 25px;
      &:last-child {
         margin-bottom: 0;
      }

      .icon {
         width: 22px;
         fill: $primary;
         margin-right: 10px;
         &--operator {
            height: 24px;
         }
         &--mail {
            width: 22px;
            height: 17px;
         }
      }
   }
   &__link {
      font-size: 18px;
      line-height: 18px;
      color: #fff;

      transition: color 0.2s ease-in-out;

      &:hover {
         color: $primary;
      }
   }
}

#gradient-vertical {
   --color-stop-1: #405DE6;
   --color-stop-2: #5851DB;
   --color-stop-3: #833AB4;
   --color-stop-4: #C13584;
   --color-stop-5: #E1306C;
   --color-stop-6: #FD1D1D;
   --color-stop-7: #F56040;
   --color-stop-8: #F77737;
   --color-stop-9: #FCAF45;
   --color-stop-10: #FFDC80;
}


.footer-social {
   &__list {
      display: flex;
      align-items: center;
      gap: 30px;
   }

   &__item {
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
         .footer-social {
            &__link {
               top: -5px;
               .icon  {
                  &--tw {
                     fill: #00acee;
                  }
                  &--fb {
                     fill: #3b5998;
                  }
                  &--li {
                     fill: #0e76a8;
                  }
                  &--inst {
                     fill: url(#gradient-vertical) gray;
                  }  
               }
            }
         }
      }
   }

   &__link {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      top: 0;
      transition: all 0.3s ease-in-out;

      .icon {
         width: 18px;
         height: 18px;
         fill: $primary;

         transition: all 0.3s ease-in-out;
         &--tw {
            height: 15px;
         }
         &--fb {
            width: 8px;
         }
         transition: all 0.3s ease-in-out;
      }
   }


}

.footer-bottom {
   font-size: 14px;
   line-height: 20px;
   color: $second-text;
   &__copyright {
      display: block;
      margin-bottom: 15px;
   }
}