.main-page {
   &__main {
      margin-bottom: 70px;
   }

   &__brands-slider {
      margin-bottom: 60px;
   }

   &__categories-slider {
      margin-bottom: 70px;
   }

   &__advantages {
      margin-bottom: 70px;
   }

   &__news {
      margin-bottom: 70px;
   }

   &__text {
      margin-bottom: 70px;
   }
}

.left-menu-list {
   border: 1px solid #F3F3F9;
   &__item {
      &:hover {
         .left-menu-list__link {
            background-color: $primary;
            color: #fff;
            .icon {
               fill: #fff;
               color: #fff;
            }

            &--show-all {
               .icon {
                  margin-left: 20px;
                  opacity: 1;
                  fill: $primary;
               }
               background-color: #fff;
               color: $primary;
            }
         }

         
      }
   }

   &__link {
      padding: 18px 20px;
      display: flex;
      align-items: center;
      background-color: #fff;

      font-size: 16px;
      line-height: 18px;
      color: $title;
      transition: all 0.2s ease-in-out;

      .icon {
         width: 24px;
         height: 24px;
         fill: $primary;
         color: $title;
         margin-right: 10px;
         transition: all 0.2s ease-in-out;
      }

      &--show-all {
         color: $primary;
         .icon {
            opacity: 0;
            margin-left: 10px;
         }
      }
   }
}

.main-slider-box {
   position: relative;
   height: 100%;

}

.main-slider {
   height: 100%;
   * {
      box-sizing: border-box;
   }
   &__pagination {
      position: absolute;
      bottom: 40px;
      left: 60px;

      display: flex;
      justify-content: start;
      .swiper-pagination-bullet {
         width: 30px;
         height: 3px;
         border-radius: 0;
         background-color: $text;
         transition: all 0.2s ease-in;
         opacity: 1;
         cursor: pointer;
         overflow: hidden;
         position: relative;
         &:hover {
            background-color: $primary;
         }
         &::before {
            content: '';
            display: block;
            width: 60px;
            height: 3px;
            background-color: $primary;

            position: absolute;
            top: 0;
            left: -100%;
            z-index: -1;
         }

         &-active {
            width: 60px;
            &:hover {
               background-color: $text;
            }
            &::before {
               transition: all 3s linear;
               left: 0;
               z-index: 2;
            }
         }
      }
   }
}

.banner-slide {
   display: flex;
   flex-direction: column;
   background-color: #F3F3F9;
   &__wrapper {
      display: flex;
      width: 100%;
      height: 100%;
      @media screen and (max-width: 768px) {
         flex-direction: column;
      }
   }

   &__info {
      padding: 87px 20px 40px 60px;
      flex: 0 0 auto;
      max-width: 45%;
      @media screen and (max-width: 768px) {
         padding: 20px;
         max-width: 100%;
      }
   }

   &__btn {
      @media screen and (max-width: 1366px) {
         display: none;
      }
   }

   &__title {
      font-size: 35px;
      line-height: 42px;
      font-weight: 700;
      color: $title;
      margin-bottom: 20px;
   }

   &__desc {
      display: block;
      font-size: 18px;
      line-height: 26px;
      font-weight: 400;
      color: $title;
      margin-bottom: 35px;
   }

   &__preview {
      flex: 0 0 600px;
      max-width: 55%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
         display: block;
         width: 100%;
         height: 100%;
         object-fit: contain;
      }
      @media screen and (max-width: 768px) {
         max-width: 100%;
         max-height: 200px;
      }
   }

   @media screen and (max-width: 768px) {
      flex-direction: column;
   }
}

.main-slider__pagination > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
   bottom: 40px;
   left: 60px;

   @media screen and (max-width: 1366px) {
      bottom: -20px;
      left: 0;
      justify-content: center;
   }
}


.col-desc-visible {
   @media screen and (max-width: 1366px) {
      display: none;
   }
}