.search-catalog {
   &__wrapper {
      display: flex;
      align-items: center;
      padding: 20px;
      background-color: $bg-block;

      &__field {
         display: flex;
         align-items: center;
         position: relative;
      }
   }

   .drop-down {
      margin-bottom: 0;
   }
}


.drop-down {
   &__choice {
      margin-left: 7px;
      display: flex;
      color: $primary;
      .drop-down__icon {
         width: 13px;
         height: 18px;
         fill: none;
         stroke: $primary;
         margin-left: 5px;
         position: relative;
         bottom: 3px;
         transition: all 0.2s ease-in-out;
      }
   }

   &__item {
      &:hover {
         .drop-down__icon {
            stroke: #FFF;
         }

         .drop-down__choice {
            color: #FFF;
         }
      }
   }
}