body {
   font-family: 'ProximaNova', sans-serif;
   background-color: #fff;
}

body.lock {
   overflow: hidden;
}

.btn {
   display: flex;
   align-items: center;
   justify-content: center;

   text-transform: uppercase;
   color: #fff;
   font-weight: 700;
   font-size: 18px;
}
