body {
   font-family: 'ProximaNova', sans-serif;
   background-color: #fff;
}

body.go-js-lock {
   overflow: hidden;
}

h1 {
   font-style: normal;
   font-weight: 600;
   color: $title;
   font-size: 24px;
   line-height: 28px;                     

   @media screen and (min-width: 1366px) {
      font-size: 35px;
      line-height: 41px;       
   }

   @media screen and (min-width: 1920px) {
      font-size: 45px;
      line-height: 53px;        
   }
}

h2 {
   font-style: normal;
   font-weight: 600;
   font-size: 19px;
   line-height: 22px;
   color: $title;

   @media screen and (min-width: 1366px) {
      font-size: 24px;
      line-height: 28px;       
   }
}

p {
   font-family: 'ProximaNova', sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 19px;
   line-height: 22px;
   color: $text;
}

.btn {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 14px 19px;

   background-color: $secondary;   
   transition: background-color 0.2s linear;
   border: none;

   font-family: 'ProximaNova';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
   color: #FFFFFF;
   cursor: pointer;

   .icon {
      width: 16px;
      height: 20px;
      fill: #fff;

      margin-right: 10px;
   }
   &:hover {
      background-color: $primary;
   }
   &:active {
      background-color: $dark;
   }

   &--light {
      background-color: #fff;
      color: $dark;
      border: 1px solid $dark;

      .icon {
         fill: $dark;
      }

      &:hover {
         background-color: $primary;
         color: #fff;
         .icon {
            fill: #fff;
         }
      }

      &:active {
         color: #fff;
         .icon {
            fill: #fff;
         }
      }
   }
   @media screen and (min-width: 1366px) {
      padding: 23px 35px;         
   }
}

.link {
   font-family: 'ProximaNova';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
   text-decoration-line: underline;
   color: #3166B4;
   transition: color 0.2s linear;
   &:hover {
      color: $primary;
   }
   &:active {
      color: $dark;
   }

   @media screen and (min-width: 1366px) {
      font-size: 19px;
      line-height: 22px;
   }
}

.input {
   display: flex;
   align-items: center;
   padding: 23px 25px 21px 25px;
   border: 1px solid #fff;

   font-family: 'ProximaNova';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
   color: #848484;
   transition: all 0.2s linear;

   .icon {
      width: 14px;
      height: 20px;
      margin-right: 10px;

      fill: #848484;
      transition: fill 0.2s linear;
   }

   &:hover {
      color: $title;
      border-color: $primary;

      .icon {
         fill: $primary;
      }
   }

   &:active {
      color: $title;
      border-color: $dark;

      .icon {
         fill: $primary;
      }
   }

}

.drop-box {
   position: relative;
   &__title {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 33px 11px;
      border: 1px solid #E5E5E5;
   }
   &__list {
      position: absolute;
   }
}